{% extends "base.html" %}

{% block title %}Chart of Accounts{% endblock %}

  <div id="wrapper">
  {% block wrapper%}

      <div id="content" class="span14">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
        <form method="post" action="" class="form" >
          {% csrf_token %}	
            {{ transform.management_form }}
            {{ itemformset.management_form }}

            <div class="row">
              {% for set in fieldsets %}
                <div class="span7">
                  <fieldset {% if set.cls %}class="{{ set.cls }}">{% endif %}
                    <legend>{{ set.legend }}</legend>
                    {% for field in set %}
                      <div{% if field.errors %} class="error"{% endif %}>
                        {{ field }}
                        {% for err in field.errors %}
                        <span class="error_message">{{ err }}</span>
                        {% endfor %}
                      </div>
                    {% endfor %}
                  </fieldset>
                </div>
              {% endfor %}
            </div>

            <fieldset >
              <h2>Item Data</h2>
              <table class="condensed-table zebra-striped">
                <thead>
                  <tr>
                  {% for field in itemformset.forms.0 %}
                     {% if not field.is_hidden %}
                        <th>{{ field.label }}</th>
                     {% endif %}
                  {% endfor %}
                  </tr>
                </thead> 
                <tbody>
                   {% for f in itemformset.management_form %}
                      {{ f }}
                   {% endfor %}
                   {% for f in itemformset.forms %}
                      <tr>
                        {% for field in f %}
                             {% if not field.is_hidden %}
                                <td>
                                  {{ field.errors }}
                                  {{ field }}
                                </td>
                             {% else %}
                                <td valign="bottom" style="display:none">{{ field }}</td>
                             {% endif %}
                        {% endfor %}
                      </tr>
                   {% endfor %}
                </tbody>
              </table>
            </fieldset>
          <input type="submit" value="Submit" class="btn primary" />
        </form>
      </div><!-- content -->

			<div id="sidebar" class="span22">
			{% block sidebar %}
					<ul>
						<li><a href="/journal/entry/" class="btn success" >+ Trans.</a></li>
						<li><a href="/coa/accounts/" class="btn info" >+ Account</a></li>
					</ul>
			{% endblock %}
			</div>

		{% endblock %}
		</div>
