{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

		<div id="wrapper">
		{% block wrapper%}

			<div id="content" class="span14">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
			{% block content %}
			{% if contacts_list %}
					<table border=1>
					{% for contact in contacts_list %}
							<tr>
								<td><a href="/contact/entry/{{ contact.id }}/">{{ contact.name }}</a></td>
								<td>{{ contact.nickname }}</td>
								<td>{{ contact.phone }}</td>
								<td>{{ contact.email }}</td>
								<td>{{ contact.twitter }}</td>
								<td><a href="/contact/entry/{{ contact.id }}/" class="btn small success">Edit</a></td>
								<td><a href="/contact/entry/{{ contact.id }}/delete" class="btn small danger">Delete</a></td>
							</tr>
					{% endfor %}
					</table>
			{% else %}
					<p>No accounts are available.</p>
			{% endif %}
			{% endblock %}
			</div>

			<div id="sidebar" class="span22">
			{% block sidebar %}
					<ul>
						<li><a href="/contact/entry/" class="btn success" >+ Contact</a></li>
					</ul>
			{% endblock %}
			</div>

		{% endblock %}
		</div>
